.classdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.fa-instagram {
  background: mediumvioletred;
  color: white;
}
p {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
h1 {
  color: deeppink;
  padding-top: 50px;
}
nav {
  background-color: pink;
  height: 100px;
}

.contact {
  display: flex;
  margin-left: 40px;
  position: relative;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 150px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.roww {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  align-items: center;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  padding: 50px;
}
